// 全屏显示
html,
body,
article,
div {
  height: 100%;
}

.auto {
  height: auto;
}

.full {
  height: 100%;
}

.flex {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.span {
  flex: 1;
  overflow-y: auto;
}
